.place__title {
    margin-block-start: 0;
    margin-block-end: 0;
    max-width: 460px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
}

@media screen and (max-width: 1025px) {
    .place__title {
        max-width: 440px;
    }
}

@media screen and (max-width: 770px) {
    .place__title {
        max-width: 340px;
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 325px) {
    .place__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
    }
}