@import url(./__item/photo-grid__item.css);

.photo-grid {
    max-width: 1184px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-gap: 16px;
    margin: 0 auto;
    padding: 0 48px;
}

@media screen and (max-width: 1025px) {
    .photo-grid {
      grid-gap: 14px;
    }
  }
  
  @media screen and (max-width: 770px) {
    .photo-grid {
      padding: 0 24px;
      grid-gap: 16px;
    }
  }
  
  @media screen and (max-width: 350px) {
    .photo-grid {
      display: grid;
      grid-template-columns: repeat(1, minmax(101px, 1fr));
      padding: 0 16px;
      grid-gap: 12px;
    }
  }