.footer__list-zone { 
    display: flex; 
    list-style: none; 
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
} 
 
@media screen and (max-width: 645px) { 
    .footer__list-zone { 
        display: flex; 
        flex-direction: column; 
        justify-content: start; 
        margin: 0px; 
    } 
} 