.cover__background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
    max-width: 1184px;
    min-height: 740px;
    background-image: url(../../../images/__background.png);
    background-size: cover;
    margin: 0 auto;

}

.cover__background::before {
    content: '';
    width: 100%;
    height: 100%;
    background: #2A2C2F;
    opacity: 0.3;
    position: absolute;
    z-index: 1;
}

.cover__background:hover {
    opacity: 0.8;
}

@media screen and (max-width: 1025px) {
    .cover__background {
        max-width: 1024px;
        max-height: 640px;
        margin: 0px;
    }
}

@media screen and (max-width: 770px) {
    .cover__background {
        max-width: 768px;
        max-height: 480px;
        margin: 0px;
    }
}

@media screen and (max-width: 325px) {
    .cover__background {
        max-width: 320px;
        max-height: 200px;
        margin: 0px;
    }
}